#root {
  display: flex;
  flex-direction: column;
  overflow: auto !important;
  overflow-y: hidden;
  background-color: #f3f3f3;
}
.header {
  background-color: #ffffff;
  height: 90px;
  line-height: 90px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.logo:hover {
  transform: rotate(666turn);
  transition: all 59s cubic-bezier(0.34, 0, 0.84, 1) 1s;
}
.search {
  width: 400px;
  margin: 0 auto;
  margin-top: 105px;
}
.selectCategory {
  margin: 0 auto;
  margin-top: 15px;
}
.postsList {
  flex: 1;
  background-color: #ffffff;
  margin: 15px auto;
  width: 100%;
  max-width: 960px;
  padding: 0 15px;
  .ant-list,
  .ant-spin-nested-loading {
    height: 100%;
  }
  .ant-list-item-extra {
    display: flex;
    align-items: center;
  }
}

body.vscode-dark {
  #root {
    background-color: var(--vscode-editor-background);
  }
  .title,
  .postsList {
    background-color: #ffffff;
  }
  .title {
    color: black;
  }
  .ant-spin-blur .ant-list-items {
    background-color: #ffffff;
  }
}
